ul.main_nav
  li
    a(href='/') Home
    a(href='/discuss') Discuss
    a(href='/users/login') Login
    a(href='/users/signup') Signup
    
ul.login
  li
    if logged_in
      img(src='#{user.avatar}')
      p #{user.username}
