doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/application.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Exo+2:400,500')
  body
    header
      h1 
        a(href='/') Shexplore
      
      nav
        include partials/_nav
      
    section#body
      block content

    footer
      p &copy;2016 Shexplore