body
  font-family 'Exo 2', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

  a
    color inherit
    text-decoration none
  
  img
    max-width 100%
    
  > *
    padding 10px
    
  header
    display flex
    align-items center
    
    h1
      margin 0
      margin-right auto
      
    nav ul
      list-style none
      a
        margin-left 10px
        
  #body
    border 2px dashed #000
    border-left none
    border-right none
    
  footer
    text-align center
    
    p
      margin 0